body {
    font-family: sans-serif;
    background-color: #f0f0f0;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #eee;
}
h1 {
    text-align: center;
    margin-top: 5%;
}
